a {
  text-decoration: none;
}

#responsive-navbar-nav {
  padding-left: 20px;
}

.navbar-brand {
  font-family: "Supermercado One", Arial, Helvetica, sans-serif;
}

.navbar-brand svg {
  margin-right: 10px;
}
